<%= render 'public/header_public' %>
<div class="container">
  <div class="row my-2">
    <h1 class="col-4 mx-auto text-center display-3">About</h1>
  </div>
  <div class="row">
    <div class="col-10 mx-auto text-center">
      ながのCAKEは全国発送可能なケーキ屋さんです。</br>
      お子様からお年寄りの方までお召し上がりいただけるよう、</br>
      様々なバリエーションをご用意しております。</br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
      ぜひご注文ください。
    </div>
  </div>
</div>
