<%= render 'public/header_public' %>
<h1>topページ</h1>
<div>
  ようこそ、ながのCAKEへ！</br>
  このサイトは、ケーキ販売のECサイトになります。</br>
  会員でない方も商品の閲覧はできますが、</br>
  購入には会員登録が必要になります。
</div>

<h2>新着商品</h2>
<div>
  <% @new_items.first(4).each do |new_item| %>
    <%= attachment_image_tag new_item, :image, format: "jpeg", size: "100x100", fallback: "no_image.jpg" %>
    <%= new_item.name %>
    <%= new_item.price %>
  <% end %>
</div>