<%= render 'public/header_public' %>
<div class="container">
  <div class="row my-5">
    <div class="col-6 mx-auto text-center">
      <h3>ご注文ありがとうございました！</h3>
    </div>
  </div>
</div>
<%= render 'public/footer_public' %>